.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  gap: 10px;
 
}

.week-day {
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  text-align: center;
  
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 13px;
  width: 100%;
margin-left: 30px;
margin-top: 8px;

}

.day, .empty-day {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: center;
  
}

.day:hover {
  background-color: #e0e0e0;
}

.habit-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 5px;
}
