body {
  font-family: "Raleway", sans-serif;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 1000px;

}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
text-align: center;
}
.header button {
  padding: 13px 15px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(104, 235, 104);
  color: #f8f8f8;
}
h1 {
  font-size: 1.8rem;
  letter-spacing: 2px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.ri-checkbox-circle-line{
  font-size: 2.2rem;
  font-weight: 600;
color: rgb(104, 235, 104);
margin-right: 20px;
}

.ri-arrow-left-s-line,.ri-arrow-right-s-line{
font-size: 1.5rem;
border: none;
background-color: transparent;
cursor: pointer;
}

.add-habit-container {
  display: flex;

}
.add-habit-container input{
  padding: 5px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid;
  margin-left: 4px;
  margin-bottom: 8px;
}
.month-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  font-size: 1 rem;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.habit-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.habit-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}
.habit-item.selected {
  outline: 3px solid black;
}
.habit-color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}

.add-habit-container button {
  display: block;
  margin: 10px auto;
  height: 40px;
  font-size: 0.6rem;
  color: black;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  
}

.habit-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Sfondo scuro trasparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}